/* start variables */
:root {
    --mainColor:#10cab7;
    --secondaryColor:#2c4755;
    --topSecPadd: 60px;
    --bottSecPadd: 60px;
    --section_BG_Color:#f6f6f6;
    --sectionTopMarg: 100px;
    --paraColor:#777;
    --paraLH: 1.6;
}
/* end variables */
/* start global rules */
* {
    -webkit-box-sizing:border-box ;
    -moz-box-sizing:border-box ;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.parent {
    background-color: #eee;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */
/* start component */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    margin:0 ;
    text-align: center;
}
.special-heading + p {
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #797979;
}
@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin: -20px;
    }
}
/* end component */
/* ------------------------------ */
/* start header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    width: 30px;
}
.header .links .icon span:nth-child(2) {
    width: 60%; 
    transition: 0.3s;
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links .icon:hover {
    cursor: pointer;
}
.header .links ul:hover::before {
    cursor: pointer;
}
.header .links:hover span:nth-child(2) {
    width: 100%;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section_BG_Color,#f6f6f6);
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    display: none;
    z-index: 1;
} 
.header .links ul::before {
    content: '';
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li:active a {
    background-color: var(--mainColor);
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:first-child) a {
    border-top: 1px solid#ddd;
}
/* end header */
/* start landing section */
.landing {
    background-image: url(../img/4k_mountain.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro_text h1 {
    margin: 0;
    color: var(--mainColor);
    font: 50px bold;
    font-family: 'Work Sans', sans-serif;
}
.landing .intro_text p {
    font-size: 19px;
    line-height: 1.8;
    font-family: 'Work Sans', sans-serif;
}
/* end landing section */
/* start features */
.features {
    padding-top:var(--topSecPadd) ;
    padding-bottom:var(--bottSecPadd) ;
    background-color: var(--section_BG_Color,#f6f6f6);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .feat {
    padding:20px;
    text-align: center;
}
.features .feat i {
    color: var(--mainColor);
}
.features .feat h3 {
    font-weight:800;
    margin: 30px 0;
}
.features .feat p {
    line-height: var(--paraLH, 1.6);
    color: var(--paraColor,#777);
    font-size: 17px;
}
/* end features */
/* syatrt services */
.services {
    padding-top:var(--topSecPadd) ;
    padding-bottom: var(--bottSecPadd);
}
@media (max-width:767px) {
    .services {
        padding-bottom: calc(var(--bottSecPadd) - 60%);
    } 
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px ;
    margin-top: var(--sectionTopMarg,100px);
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align:center;
        margin-bottom: 30px
    }
}
.services .services-content .srv i {
    color: var(--mainColor);
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: var(--paraLH, 1.6);
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .image::before {
    content: '';
    position: absolute;
    background-color: var(--secondaryColor);
    right: 21px;
    top: -33px;
    width: 90px;
    height: calc(100% + 60px);
    z-index: -1;
}
.services .services-content .image img {
    width: 260px;
}
@media (max-width:1199px) {
    .noDisplay {
        display: none;
    }
}
/* end services */
/* start portofolio */
.portofolio {
    padding-top:var(--topSecPadd ,60px) ;
    padding-bottom:var(--bottSecPadd ,60px) ;
    background-color: var(--section_BG_Color,#f6f6f6);
}
@media (max-width:767px) {
    .portofolio {
        padding-bottom: calc(var(--bottSecPadd) - 50%);
    } 
}
.portofolio .portofolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.portofolio .portofolio-content .card {
    background-color: white;
    margin-bottom: 2em;
    text-align: center;
    width: fit-content;
} 
.portofolio .portofolio-content .card img {
    max-width: 100%;
}
@media (min-width:174px) and ( max-width:1290px) {
    .portofolio .portofolio-content .card img {
        width: 100%;
    } 
}
.portofolio .portofolio-content .card .info {
    padding: 20px;
    max-width: 100%;
}
.portofolio .portofolio-content .card .info h3 {
    margin: 0;
}
.portofolio .portofolio-content .card .info p {
    color: var(--paraColor,#777);
    line-height: var(--paraLH, 1.6);
    margin-bottom: 0;
}
/* end portofolio */
/* start About */
.about {
    padding-top: var(--topSecPadd);
    padding-bottom: var(--bottSecPadd);
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width:991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before {
    content: '';
    position: absolute;
    width: 60px;
    height: calc(100% + 50px);
    background-color:#ebeced;
    top: -25px;
    left: -20px;
    z-index:-1;
}
.about .about-content .image::after {
    content: '';
    position: absolute;
    height: 326px;
    width: 90px;
    right: -117px;
    top: -22px;
    border-bottom: 58px solid var(--mainColor);
    border-left: 60px solid var(--mainColor);
    z-index: -1;
}
@media (max-width:991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--mainColor);
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: var(--paraColor,#777);
}
/* end About */
/* start Contact */
.contact {
    padding-top:var(--topSecPadd ,60px) ;
    padding-bottom:var(--bottSecPadd ,60px) ;
    background-color: var(--section_BG_Color,#f6f6f6);
}
.contact .info {
    padding-top: var(--topSecPadd ,60px);
    padding-bottom: var(--bottSecPadd ,60px);
    text-align: center;
}.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondaryColor);
    letter-spacing: -1px;
    margin-bottom: 15px;
}
.contact .info .link {
    font-size: 35px;
    font-weight: 800;
    display: block;
    color: var(--mainColor);
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px; 
}
.contact .info .social i {
    margin-left:10px;
    color: var(--secondaryColor);
}
@media (max-width:767px) {
    .contact .info .link,
    .contact .info .label {
        font-size: 25px;
    }
}
/* end Contact */
/* Start Footer */
.footer {
    background-color: var(--secondaryColor);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: var(--mainColor);
}
/* end Footer */
/* Start Video Num 13 */